body
{
	background-color:#8c649c;
}

#topnav
	{
	list-style-type:none;
	padding:0px;
	margin:0px 10px;
	}
#topnav li
	{
	float: left;
	overflow: auto;
	}
#topnav li a
	{
	display: block;
	background-color:#749c64;
	padding: 18px;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	}