/*
#363433 - grey
#5bb069 - green
#4d8d94 - medium blue
*/


body
{
	background-color:#363433;
	color:#ffffff;
}

#topnav
	{
	list-style-type:none;
	padding:0px;
	margin:0px 4px;
	}
#topnav li
	{
	float: left;
	overflow: auto;
	}
#topnav li a
	{
	display: block;
	background-color:#4d8d94;
	padding: 18px 40px;
	
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	}
	
#3dprintpicpumpkin
	{
	align:center;
	border:#4d8d94;
	}